<a href="https://colab.research.google.com/github/ROHI789/Association_Rules/blob/main/Fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as ssn
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn import metrics

**Import Dataset**

In [12]:
# Import Dataset
data=pd.read_csv('Insurance Dataset.csv')
data

,Area_Service,Hospital County,Hospital Id,Age,Gender,Cultural_group,ethnicity,Days_spend_hsptl,Admission_type,"Home or self care,",...,Mortality risk,Surg_Description,Weight_baby,Abortion,Emergency dept_yes/No,Tot_charg,Tot_cost,ratio_of_total_costs_to_total_charges,Result,Payment_Typology
0,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,4,Elective,Home or Self Care,...,1.0,Medical,0.0,N,Y,5511.95,5582.49,1.012798,1.0,1.0
1,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,4,Urgent,Short-term Hospital,...,2.0,Medical,0.0,N,Y,4783.20,5162.82,1.079365,1.0,1.0
2,Western NY,Allegany,37.0,30 to 49,F,White,Not Span/Hispanic,3,Urgent,Home or Self Care,...,1.0,Medical,0.0,N,Y,3829.15,4056.52,1.059379,1.0,1.0
3,Western NY,Allegany,37.0,0 to 17,F,White,Not Span/Hispanic,1,Urgent,Home or Self Care,...,1.0,Medical,0.0,N,Y,1108.20,1644.75,1.484167,0.0,1.0
4,Western NY,Allegany,37.0,70 or Older,F,White,Not Span/Hispanic,3,Elective,Home or Self Care,...,3.0,Medical,0.0,N,Y,3418.18,3370.87,0.986161,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618875,Capital/Adirond,Columbia,146.0,30 to 49,M,White,Not Span/Hispanic,11,Emergency,Home or Self Care,...,1.0,Medical,0.0,N,Y,18356.61,7731.76,0.421198,1.0,2.0
618876,Capital/Adirond,Columbia,146.0,30 to 49,F,White,Not Span/Hispanic,1,Emergency,Home or Self Care,...,1.0,Medical,0.0,N,Y,9767.96,3194.72,0.327061,1.0,1.0
618877,Capital/Adirond,Columbia,146.0,0 to 17,M,White,Not Span/Hispanic,2,Newborn,Home or Self Care,...,1.0,Medical,4400.0,N,N,3411.76,1358.63,0.398218,1.0,3.0
618878,Capital/Adirond,Columbia,146.0,50 to 69,M,White,Not Span/Hispanic,1,Emergency,Home or Self Care,...,2.0,Medical,0.0,N,Y,10231.34,2355.64,0.230238,0.0,3.0
618879,Capital/Adirond,Columbia,146.0,18 to 29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**EDA**

In [ ]:
#understanding the data

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.describe()

In [ ]:
#size of dataframe
data.size

In [ ]:
#shape of DataFrame
data.shape

In [ ]:
#data types
data.dtypes

In [ ]:
data.columns

In [ ]:
data.nunique().sort_values(ascending=False)

In [ ]:
data['Hospital Id'].unique()

In [ ]:
#cleaning the data

In [ ]:
data.isnull().sum()

In [ ]:
#drop this column
data.drop(['Hospital Id'],axis=1,inplace=True)

In [ ]:
data.head()

In [ ]:
#relationship analysis

In [ ]:
corr=data.corr()
corr

In [ ]:
plt.figure(figsize=(22,16))
sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns,annot=True,linewidths=1,annot_kws={'size': 25})

In [ ]:
sns.pairplot(data)

In [ ]:
sns.relplot(x= 'Gender', y='Tot_cost', hue='Age', data=data)

In [ ]:
sns.distplot(data['Mortality risk'])

In [ ]:
#Rename the columns
data.rename({'Hospital County':'Hospital_County','Hospital Id':'Hospital_Id','Home or self care':'Home_or_self_care','Mortality risk':'Mortality_risk','Emergency dept_yes/No':'Emergency_dept_yes/No'},axis=1,inplace=True)

In [ ]:
data

Numerical and categorical columns

In [ ]:
numeric_cols = data.select_dtypes(include=np.number).columns.tolist()

In [ ]:
numeric_cols

In [ ]:
categorical_cols = data.select_dtypes(include='object').columns.tolist()

In [ ]:
categorical_cols

In [ ]:
data.isna().sum().sort_values(axis=0, ascending=False)

In [ ]:
total_sum_of_null_values=data.isna().sum().sort_values(axis=0, ascending=False).sum()

In [ ]:
total_sum_of_null_values

In [ ]:
percentage_of_null_values=(total_sum_of_null_values/1048575)*100
percentage_of_null_values

In [ ]:
#percentage of null values is very negligible(i.e 0.4)
data.dropna(axis=0,inplace=True)

In [ ]:
data.isna().sum()

In [ ]:
data.shape

In [ ]:
raw_data = data.copy()
raw_data

In [ ]:
#Handling Numeric Missing values

In [ ]:
raw_data[numeric_cols].isnull().sum().sort_values(ascending=False)

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
#replace numeric columns
imputer = SimpleImputer(strategy='mean').fit(raw_data[numeric_cols])

In [ ]:
raw_data[numeric_cols]=imputer.transform(raw_data[numeric_cols])

In [ ]:
raw_data[numeric_cols].isnull().sum()

In [ ]:
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent').fit(raw_data[categorical_cols])

In [ ]:
raw_data[categorical_cols]= imp.transform(raw_data[categorical_cols])

In [ ]:
raw_data[categorical_cols].isnull().sum()

In [ ]:
#Check in the duplicated records
raw_data[raw_data.duplicated()]

In [ ]:
#Removing the duplicated rows
raw_data=raw_data.drop_duplicates()

In [ ]:
raw_data.info()

In [ ]:
#pd.set_option('display.max_rows',1000)
raw_data.groupby(['Age','Admission_type']).Days_spend_hsptl.count().sort_values(ascending=False).reset_index()

In [ ]:
raw_data.Age.value_counts().plot(kind='bar')

In [ ]:
#plt.bar(raw_data,x='Surg_Description',color='Surg_Description)
raw_data.Surg_Description.value_counts().plot(kind='bar',color='green')

In [ ]:
ssn.distplot(data['Tot_cost'])

In [ ]:
plt.scatter(data['Tot_charg'],y=data['Tot_cost'])

In [ ]:
#raw_data['Tot_Amt_diff'] = data['Tot_cost']-data['Tot_charg']
ssn.barplot(x='Admission_type',y='Tot_charg',data=raw_data)